    <div class="personal-equipment">
        <!--Personal Equipment-->
        <h3>Personal Equipment</h3>
        <h4>Item</h4>
        <h4>Notes</h4>
        <h4>Mass</h4>
        <h4>Status</h4>
        <input type="text" name="attr_char_equip_item_1" />
        <input type="text" name="attr_char_equip_note_1" />
        <input type="text" name="attr_char_equip_mass_1" />
        <input type="text" name="attr_char_equip_status_1" />
        <input type="text" name="attr_char_equip_item_2" />
        <input type="text" name="attr_char_equip_note_2" />
        <input type="text" name="attr_char_equip_mass_2" />
        <input type="text" name="attr_char_equip_status_2" />
        <input type="text" name="attr_char_equip_item_3" />
        <input type="text" name="attr_char_equip_note_3" />
        <input type="text" name="attr_char_equip_mass_3" />
        <input type="text" name="attr_char_equip_status_3" />
        <input type="text" name="attr_char_equip_item_4" />
        <input type="text" name="attr_char_equip_note_4" />
        <input type="text" name="attr_char_equip_mass_4" />
        <input type="text" name="attr_char_equip_status_4" />
        <input type="text" name="attr_char_equip_item_5" />
        <input type="text" name="attr_char_equip_note_5" />
        <input type="text" name="attr_char_equip_mass_5" />
        <input type="text" name="attr_char_equip_status_5" />
        <input type="text" name="attr_char_equip_item_6" />
        <input type="text" name="attr_char_equip_note_6" />
        <input type="text" name="attr_char_equip_mass_6" />
        <input type="text" name="attr_char_equip_status_6" />
        <input type="text" name="attr_char_equip_item_7" />
        <input type="text" name="attr_char_equip_note_7" />
        <input type="text" name="attr_char_equip_mass_7" />
        <input type="text" name="attr_char_equip_status_7" />
        <input type="text" name="attr_char_equip_item_8" />
        <input type="text" name="attr_char_equip_note_8" />
        <input type="text" name="attr_char_equip_mass_8" />
        <input type="text" name="attr_char_equip_status_8" />
        <input type="text" name="attr_char_equip_item_9" />
        <input type="text" name="attr_char_equip_note_9" />
        <input type="text" name="attr_char_equip_mass_9" />
        <input type="text" name="attr_char_equip_status_9" />
        <input type="text" name="attr_char_equip_item_10" />
        <input type="text" name="attr_char_equip_note_10" />
        <input type="text" name="attr_char_equip_mass_10" />
        <input type="text" name="attr_char_equip_status_10" />
    </div>
