    <div class="skills">
        <!--skills-->
        <h3>Skills</h3>
        <h3>Level</h3>
        <h3 class="roll">Roll</h3>
        <span>Athletics</span>
        <input type="number" name="attr_char_ath" value="0" />
        <button type='roll' name='roll_Athletics_check' value='[[2d6+@{char_ath}+?{Sit Mod|0}]]'></button>
        <span>Combat</span>
        <input type="number" name="attr_char_com" value="0" />
        <button type='roll' name='roll_Combat_check' value='[[2d6+@{char_com}+?{Sit Mod|0}]]'></button>
        <span>Engine</span>
        <input type="number" name="attr_char_eng" value="0" />
        <button type='roll' name='roll_Engineering_check' value='[[2d6+@{char_eng}+?{Sit Mod|0}]]'></button>
        <span>Piloting</span>
        <input type="number" name="attr_char_pil" value="0" />
        <button type='roll' name='roll_Pilot_check' value='[[2d6+@{char_pil}+?{Sit Mod|0}]]'></button>
        <span>Science</span>
        <input type="number" name="attr_char_sci" value="0" />
        <button type='roll' name='roll_Science_check' value='[[2d6+@{char_sci}+?{Sit Mod|0}]]'></button>
    </div>
