    <div class="special-abilities">
        <!--Special Abilities-->
        <h3>Special Abilities</h3>
        <h4>Ability</h4>
        <h4>Notes</h4>
        <h4>Pool</h4>
        <h4>Used</h4>
        <input type="text" name="attr_char_special_name_1" />
        <input type="text" name="attr_char_special_note_1" />
        <input type="text" name="attr_char_special_pool_1" />
        <input type="text" name="attr_char_special_used_1" />
        <input type="text" name="attr_char_special_name_2" />
        <input type="text" name="attr_char_special_note_2" />
        <input type="text" name="attr_char_special_pool_2" />
        <input type="text" name="attr_char_special_used_2" />
        <input type="text" name="attr_char_special_name_3" />
        <input type="text" name="attr_char_special_note_3" />
        <input type="text" name="attr_char_special_pool_3" />
        <input type="text" name="attr_char_special_used_3" />
        <input type="text" name="attr_char_special_name_4" />
        <input type="text" name="attr_char_special_note_4" />
        <input type="text" name="attr_char_special_pool_4" />
        <input type="text" name="attr_char_special_used_4" />
        <input type="text" name="attr_char_special_name_5" />
        <input type="text" name="attr_char_special_note_5" />
        <input type="text" name="attr_char_special_pool_5" />
        <input type="text" name="attr_char_special_used_5" />
        <input type="text" name="attr_char_special_name_6" />
        <input type="text" name="attr_char_special_note_6" />
        <input type="text" name="attr_char_special_pool_6" />
        <input type="text" name="attr_char_special_used_6" />
        <input type="text" name="attr_char_special_name_7" />
        <input type="text" name="attr_char_special_note_7" />
        <input type="text" name="attr_char_special_pool_7" />
        <input type="text" name="attr_char_special_used_7" />
        <input type="text" name="attr_char_special_name_8" />
        <input type="text" name="attr_char_special_note_8" />
        <input type="text" name="attr_char_special_pool_8" />
        <input type="text" name="attr_char_special_used_8" />
        <input type="text" name="attr_char_special_name_9" />
        <input type="text" name="attr_char_special_note_9" />
        <input type="text" name="attr_char_special_pool_9" />
        <input type="text" name="attr_char_special_used_9" />
        <input type="text" name="attr_char_special_name_10" />
        <input type="text" name="attr_char_special_note_10" />
        <input type="text" name="attr_char_special_pool_10" />
        <input type="text" name="attr_char_special_used_10" />
    </div>
