    <div class="controls">
        <!--controls-->
        <div class="tabs">
            <input type="hidden" class="sheet-tabs-toggle" name="attr_vehicle_tabs"  value="ship-power"/>
            <nav>
                <button type="action" name="act_ship-power" class='nav-button nav-button--ship-power active' >Ship Power</button>
                <button type="action" name="act_ship-floor-1" class='nav-button nav-button--ship-floor-1' >Floor 1</button>
                <button type="action" name="act_ship-floor-2" class='nav-button nav-button--ship-floor-2' >Floor 2</button>
                <button type="action" name="act_ship-floor-3" class='nav-button nav-button--ship-floor-3' >Floor 3</button>
                <button type="action" name="act_ship-floor-4" class='nav-button nav-button--ship-floor-4' >Floor 4</button>
                <button type="action" name="act_ship-floor-5" class='nav-button nav-button--ship-floor-5' >Floor 5</button>
            </nav>
        </div>
        <div class="navigable-section navigable-section--ship-power ship-power active">
            <div class="speed"><!-->Speed<-->
                <input type="radio" id="6" name="attr_ship_speed" value="6"><br>
                <input type="radio" id="5" name="attr_ship_speed" value="5"><br>
                <input type="radio" id="4" name="attr_ship_speed" value="4"><br>
                <input type="radio" id="3" name="attr_ship_speed" value="3"><br>
                <input type="radio" id="2" name="attr_ship_speed" value="2"><br>
                <input type="radio" id="1" name="attr_ship_speed" value="1"><br>
                <input type="radio" id="0" name="attr_ship_speed" value="0" checked="checked">
            </div>
            <div class="OOC"><!-->O.O.C.<-->
                <input type="radio" id="4" name="attr_ship_ooc" value="4"><br>
                <input type="radio" id="3" name="attr_ship_ooc" value="3"><br>
                <input type="radio" id="2" name="attr_ship_ooc" value="2"><br>
                <input type="radio" id="1" name="attr_ship_ooc" value="1"><br>
                <input type="radio" id="0" name="attr_ship_ooc" value="0" checked="checked">
            </div>
            <div class="helm"><!-->Helm<-->
                <input type="radio" id="6" name="attr_ship_helm" value="6"><br>
                <input type="radio" id="5" name="attr_ship_helm" value="5"><br>
                <input type="radio" id="4" name="attr_ship_helm" value="4"><br>
                <input type="radio" id="3" name="attr_ship_helm" value="3"><br>
                <input type="radio" id="2" name="attr_ship_helm" value="2"><br>
                <input type="radio" id="1" name="attr_ship_helm" value="1" checked="checked"><br>
                <input type="radio" id="0" name="attr_ship_helm" value="0">
            </div>
            <div class="guns"><!-->Guns<-->
                <input type="radio" id="6" name="attr_ship_guns" value="6"><br>
                <input type="radio" id="5" name="attr_ship_guns" value="5"><br>
                <input type="radio" id="4" name="attr_ship_guns" value="4"><br>
                <input type="radio" id="3" name="attr_ship_guns" value="3"><br>
                <input type="radio" id="2" name="attr_ship_guns" value="2"><br>
                <input type="radio" id="1" name="attr_ship_guns" value="1" checked="checked"><br>
                <input type="radio" id="0" name="attr_ship_guns" value="0">
            </div>
            <div class="shields"><!-->Shields<-->
                <input type="radio" id="6" name="attr_ship_shields" value="6"><br>
                <input type="radio" id="5" name="attr_ship_shields" value="5"><br>
                <input type="radio" id="4" name="attr_ship_shields" value="4"><br>
                <input type="radio" id="3" name="attr_ship_shields" value="3"><br>
                <input type="radio" id="2" name="attr_ship_shields" value="2"><br>
                <input type="radio" id="1" name="attr_ship_shields" value="1" checked="checked"><br>
                <input type="radio" id="0" name="attr_ship_shields" value="0">
            </div>
        </div>
        <div class="navigable-section navigable-section--ship-floor-1 ship-floor-1">
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
        </div>
        <div class="navigable-section navigable-section--ship-floor-2 ship-floor-2">
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
        </div>
        <div class="navigable-section navigable-section--ship-floor-3 ship-floor-3">
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
        </div>
        <div class="navigable-section navigable-section--ship-floor-4 ship-floor-4">
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
        </div>
        <div class="navigable-section navigable-section--ship-floor-5 ship-floor-5">
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
        </div>
    </div>

    <script type="text/worker">
        const navigateSheet = function(event){
            const target = event.triggerName.replace(/clicked:/,'');//Parse out our actual target
            console.log(target);
            $20('.navigable-section,.nav-button').removeClass('active');
            $20(`.navigable-section--${target},.nav-button--${target}`).addClass('active');
            setAttrs({sheet_tab:target},{silent:true});
        };

        on('sheet:opened',()=>{//
            getAttrs(['sheet_tab'],(attributes)=>{
                navigateSheet({trigerName:attributes.sheet_tab});
            });
        });

        const buttonlist = ["ship-power","ship-floor-1","ship-floor-2","ship-floor-3","ship-floor-4","ship-floor-5"];
        buttonlist.forEach(button => {
            on(`clicked:${button}`, navigateSheet);
        });
    </script>
