    <div class="ship-hull">
        <!--ship-hull-->
        <input type="number" name="attr_ship_hull" value="0"/>
        <h3>DMG</h3>
        <h3>Hull Check</h3>
        <span>1</span>
        <span>1</span>
        <span>3</span>
        <span>2</span>
        <span>6</span>
        <span>3</span>
        <span>10</span>
        <span>4</span>
        <span>15</span>
        <span>5</span>
        <span>21</span>
        <span>6</span>
        <span>28</span>
        <span>7</span>
        <span>36</span>
        <span>8</span>
        <span>45</span>
        <span>9</span>
        <span>55</span>
        <span>10</span>
        <span>66</span>
        <span>11</span>
        <span>78</span>
        <span>12</span>
        <span>91</span>
        <span>13</span>
        <span>105</span>
        <span>14</span>
        <span>120</span>
        <span>15</span>
        <span>136</span>
        <span>16</span>
        <span>153</span>
        <span>17</span>
        <span>171</span>
        <span>18</span>
        <span>190</span>
        <span>19</span>
        <span>210</span>
        <span>20</span>
        <span>131</span>
        <span>21</span>
        <span>253</span>
        <span>22</span>
    </div>
