    <div class="ship-compliment">
        <!--ship compliment-->
        <h3>Crew Manifest</h3>
        <h3>Cargo</h3>
        <h3>Notes</h3>
        <input type="text" name="attr_ship_crew_1" />
        <input type="text" name="attr_ship_cargo_1" />
        <input type="text" name="attr_ship_note_1" />
        <input type="text" name="attr_ship_crew_2" />
        <input type="text" name="attr_ship_cargo_2" />
        <input type="text" name="attr_ship_note_2" />
        <input type="text" name="attr_ship_crew_3" />
        <input type="text" name="attr_ship_cargo_3" />
        <input type="text" name="attr_ship_note_3" />
        <input type="text" name="attr_ship_crew_4" />
        <input type="text" name="attr_ship_cargo_4" />
        <input type="text" name="attr_ship_note_4" />
        <input type="text" name="attr_ship_crew_5" />
        <input type="text" name="attr_ship_cargo_5" />
        <input type="text" name="attr_ship_note_5" />
        <input type="text" name="attr_ship_crew_6" />
        <input type="text" name="attr_ship_cargo_6" />
        <input type="text" name="attr_ship_note_6" />
        <input type="text" name="attr_ship_crew_7" />
        <input type="text" name="attr_ship_cargo_7" />
        <input type="text" name="attr_ship_note_7" />
        <input type="text" name="attr_ship_crew_8" />
        <input type="text" name="attr_ship_cargo_8" />
        <input type="text" name="attr_ship_note_8" />
        <input type="text" name="attr_ship_crew_9" />
        <input type="text" name="attr_ship_cargo_9" />
        <input type="text" name="attr_ship_note_9" />
        <input type="text" name="attr_ship_crew_10" />
        <input type="text" name="attr_ship_cargo_10" />
        <input type="text" name="attr_ship_note_10" />
        <input type="text" name="attr_ship_crew_11" />
        <input type="text" name="attr_ship_cargo_11" />
        <input type="text" name="attr_ship_note_11" />
        <input type="text" name="attr_ship_crew_12" />
        <input type="text" name="attr_ship_cargo_12" />
        <input type="text" name="attr_ship_note_12" />
        <input type="text" name="attr_ship_crew_13" />
        <input type="text" name="attr_ship_cargo_13" />
        <input type="text" name="attr_ship_note_13" />
    </div>
