.charsheet div.character-sheet input[type="number"],
.charsheet div.character-sheet input[type="text"]{
    width: auto;
}
.charsheet h3 {
    background-color: #09348D;
    color: white;
    text-transform: uppercase;
    padding-left: 5px;
    text-align: left;
}
.charsheet h3.roll {
    margin-left: -6px;
}
.charsheet h4 {
    background-color: lightgray;
    text-transform: uppercase;
    padding-left: 5px;
}
.charsheet span {
    margin-top: 5px;
    font-weight: bold;
}
.charsheet span.hearts {
    margin-top: 0;
    font-size: 150%;
}
div.character-sheet {
    display:grid;
    grid-template-columns: 300px 100px 100px 300px;
    border-collapse: collapse;
}
div.basic-information,
div.skills,
div.stats,
div.middle-row,
div.special-abilities, 
div.personal-equipment {
    border: 3pt solid black;
}
div.basic-information {
    grid-column: 1;
    display:grid;
    grid-template-columns: 68px 1fr;
}
div.basic-information .offset {
    grid-column: 2;
}
div.skills {
    grid-column: 2 / span 2;
    display: grid;
    grid-template-columns: 70px 73px 49px;
}
div.skills button {
    position: relative;
    left: 3px;
}
div.stats {
    display: grid;
    grid-template-columns: 78px 60px 79px 60px;
    column-gap: 5px;
}
div.middle-row,
div.character-sheet h3 {
    grid-column: 1 / -1;
}
div.character-sheet div.skills h3 {
    grid-column: span 1;
}
div.middle-row {
    display: grid;
    column-gap: 5px;
    grid-template-columns: repeat(6, 1fr);
}
div.special-abilities,
div.personal-equipment {
    grid-column: 1 / span 2;
    display: grid;
    border-collapse: collapse;
    grid-template-columns: 126px 126px 70px 70px;
}
div.personal-equipment {
    grid-column: 3 / span 2;
}
